Source: ros-humble-imu-calib
Section: misc
Priority: optional
Maintainer: Nathan Romany Fares (ROS 2 Humble Maintainer) <nassanromany74@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libeigen3-dev, libyaml-cpp-dev, ros-humble-ament-cmake, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-ros-workspace
Homepage: https://github.com/dpkoch/imu_calib
Standards-Version: 3.9.2

Package: ros-humble-imu-calib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libeigen3-dev, libyaml-cpp-dev, ros-humble-rclcpp, ros-humble-sensor-msgs, ros-humble-std-msgs, ros-humble-ros-workspace
Description: ROS2 package for computing and applying IMU calibration parameters
